.button {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 162px;
  height: 58px;
  padding: 0;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 0.02em;
  color: #17181a;

  transform: scale(1);
  transition: transform 250ms ease-in;
  background: transparent;
  border: transparent;
  cursor: pointer;
}

.button:hover,
.button:focus {
  transform: scale(1.1);
}

.arrowIcon {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 58px;
  height: 58px;
  background: #42454a;
}
