.button {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 162px;
  height: 58px;
  padding: 0;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 0.02em;
  color: #17181a;

  background: transparent;
  border: transparent;
  cursor: pointer;
}

.arrowIcon {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 58px;
  height: 58px;
  background: #42454a;
}
