.listItem {
  width: calc(100% / 6);
  padding: 18px;
  border: 0.66px solid #f4f4f4;
  border-radius: 7px;

  box-shadow: 0 13px 26px 0 rgba(0, 0, 0, 0.06);
  background: #fff;
}

.description {
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
  color: #42454a;

  padding-bottom: 18px;
}

.span {
  font-size: 18px;
}

.property {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.3;
  color: #42454a;
}
