.title {
  position: relative;
  width: 586px;
  height: 287px;
  margin-bottom: 93px;
}

.title,
.span {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 90px;
  line-height: 1.06;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #42454a;
}

.span {
  font-family: var(--font-family);
  font-weight: 700;
}

.title::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 1px;

  width: 335px;
  height: 4px;

  background-color: #42454a;
}

.description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 22px;
  line-height: 1.55;
  letter-spacing: 0.01em;
  color: #42454a;
  margin-bottom: 80px;
}
