.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 592px;
  color: #fbfbfb;
  font-family: var(--font-family);
}

.footerContainer {
  display: flex;
  flex-direction: column;
  width: 1440px;
  background: #42454a;
  height: 500px;
}

.footerContent {
  display: flex;
}

.scooter {
  margin-top: -92px;
  margin-right: 93px;
}

.footerNav {
  display: flex;
  gap: 101px;
  margin-top: 99px;
}

.listTitle {
  margin-bottom: 35px;
  font-weight: 700;
  font-size: 22px;
}

.list {
  display: flex;
  flex-direction: column;
  line-height: 337%;
  font-weight: 400;
  font-size: 16px;
}

.socialLinks {
  display: flex;
  gap: 16px;
  margin-top: 23px;
  fill: #42454a;
}

.socialLinks circle {
  fill: #fafafc;
}

.socialLinks a:hover circle,
.socialLinks a:focus circle {
  fill: #b2b2b3;
}

.copyright {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}
